/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Sets background color for the entire body */
}

header {
    background-color: #405de6;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#style {
    background-color: #333; /* Sets background color for the footer */
    color: #fff; /* Sets text color for the footer */
    padding: 20px;
    text-align: center;
}
